/* Aprico extends */

body, html {min-height: 100%;}
html {height: 100%;}

.btn, label {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.btn:focus {
	outline: none;
	border-color: var(--gray-2);
	box-shadow: none;
}

.btn-small {
	font-weight: 400;
}

.btn-mod-notify {
	position: relative;
}

.btn-mod-notify:after{
	position: absolute;
	top: -3px;
	right: -4px;
	content: '';
	background-color:var(--red);
	border-radius:50%;
	width: 8px;
	height: 8px;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

input, textarea, select {
	border: 0 none;
	border-bottom: 2px solid var(--form-field-border-color);
	border-radius: 0;
	background-color: transparent;
	caret-color: var(--gray-3);
}

.bg-identicon {
	background-position: 120%;
	background-repeat: no-repeat;
	padding-right: 40px;	
}

.bg-identicon:focus {
	background-position: center right;
}

label {
	font-size: var(--h6);
	line-height: var(--line-height-3);
	display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
	background: rgba(239, 61, 51, 0.1);
	box-shadow: 0 0 transparent;
	-webkit-box-shadow: 0 0 0 1000px white inset;
  	-webkit-text-fill-color: rgba(239, 61, 51,0.5);
}

input::placeholder {
	font-size: var(--h5);
	line-height: 2rem;
	color: var(--gray-3);
	opacity: 0;
	padding-left: 5px;
}
input:focus::placeholder {
	opacity: 1;
}

@media (--breakpoint-sm) {
	input::placeholder {
		line-height: 3.3rem
	}
}

/* layout utils */

.hidden {
	visibility: hidden;
	pointer-events: none;
}

@media (--breakpoint-md) {
	.md-bg-gray {
		background-color: var(--gray);
	}
	.md-flex-row {
    	flex-direction: row;
	}
	.md-box-shadow {
		box-shadow: var(--darken-2) 0px 20px 60px -10px;
	}
}

.h-100 { height: 100%; }

[hidden] {
	display: none !important;
}

/* custom notices */
.browser-notice, .webext-notice, .macOS-notice, .macOS-inline-notice, .otherOS-notice, .otherOS-inline-notice {display:none;}
.platform-browser .browser-notice {display:block;}
.platform-webext .webext-notice {display:block;}
.platform-macOS .macOS-notice {display:block;}
.platform-macOS .macOS-inline-notice {display:inline;}
.platform-otherOS .otherOS-notice {display:block;}
.platform-otherOS .otherOS-inline-notice {display:inline;}


/* icons */
.btn.icon {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
}

.btn-small.icon {
	padding-top: var(--space-2);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

label.icon {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.icon-opts {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%23484848" d="M32 384h272v32H32zM400 384h80v32h-80zM384 447.5c0 17.949-14.327 32.5-32 32.5-17.673 0-32-14.551-32-32.5v-95c0-17.949 14.327-32.5 32-32.5 17.673 0 32 14.551 32 32.5v95z"/%3E%3Cg%3E%3Cpath fill="%23484848" d="M32 240h80v32H32zM208 240h272v32H208zM192 303.5c0 17.949-14.327 32.5-32 32.5-17.673 0-32-14.551-32-32.5v-95c0-17.949 14.327-32.5 32-32.5 17.673 0 32 14.551 32 32.5v95z"/%3E%3C/g%3E%3Cg%3E%3Cpath fill="%23484848" d="M32 96h272v32H32zM400 96h80v32h-80zM384 159.5c0 17.949-14.327 32.5-32 32.5-17.673 0-32-14.551-32-32.5v-95c0-17.949 14.327-32.5 32-32.5 17.673 0 32 14.551 32 32.5v95z"/%3E%3C/g%3E%3C/svg%3E');
}

.icon-open {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23484848' d='M405.34 405.332H106.66V106.668H240V64H106.66C83.191 64 64 83.197 64 106.668v298.664C64 428.803 83.191 448 106.66 448h298.68c23.469 0 42.66-19.197 42.66-42.668V272h-42.66v133.332zM288 64v42.668h87.474L159.999 322.133l29.866 29.866 215.476-215.47V224H448V64H288z'/%3E%3C/svg%3E");
}

.icon-view {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23484848' d='M256 105c-101.8 0-188.4 62.4-224 151 35.6 88.6 122.2 151 224 151s188.4-62.4 224-151c-35.6-88.6-122.2-151-224-151zm0 251.7c-56 0-101.8-45.3-101.8-100.7S200 155.3 256 155.3 357.8 200.6 357.8 256 312 356.7 256 356.7zm0-161.1c-33.6 0-61.1 27.2-61.1 60.4s27.5 60.4 61.1 60.4 61.1-27.2 61.1-60.4-27.5-60.4-61.1-60.4z'/%3E%3C/svg%3E");
}

.icon-logout {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23484848' d='M192 277.4h189.7l-43.6 44.7L368 352l96-96-96-96-31 29.9 44.7 44.7H192v42.8z'/%3E%3Cpath fill='%23484848' d='M255.7 421.3c-44.1 0-85.5-17.2-116.7-48.4-31.2-31.2-48.3-72.7-48.3-116.9 0-44.1 17.2-85.7 48.3-116.9 31.2-31.2 72.6-48.4 116.7-48.4 44 0 85.3 17.1 116.5 48.2l30.3-30.3c-8.5-8.4-17.8-16.2-27.7-23.2C339.7 61 298.6 48 255.7 48 141.2 48 48 141.3 48 256s93.2 208 207.7 208c42.9 0 84-13 119-37.5 10-7 19.2-14.7 27.7-23.2l-30.2-30.2c-31.1 31.1-72.5 48.2-116.5 48.2zM448.004 256.847l-.849-.848.849-.849.848.849z'/%3E%3C/svg%3E");
}

.icon-copy {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23484848' d='M296 48H176.5C154.4 48 136 65.4 136 87.5V96h-7.5C106.4 96 88 113.4 88 135.5v288c0 22.1 18.4 40.5 40.5 40.5h208c22.1 0 39.5-18.4 39.5-40.5V416h8.5c22.1 0 39.5-18.4 39.5-40.5V176L296 48zm0 44.6l83.4 83.4H296V92.6zm48 330.9c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5h7.5v255.5c0 22.1 10.4 32.5 32.5 32.5H344v7.5zm48-48c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5H264v128h128v167.5z'/%3E%3C/svg%3E");
}

.icon-done {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%238ce196" d="M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z"/%3E%3C/svg%3E');
}

.icon-alldone {
	/*
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="%238ce196" d="M387.581 139.712L356.755 109 216.913 248.319l30.831 30.719 139.837-139.326zM481.172 109L247.744 340.469l-91.39-91.051-30.827 30.715L247.744 403 512 139.712 481.172 109zM0 280.133L123.321 403l30.829-30.713L31.934 249.418 0 280.133z"/%3E%3C/svg%3E');
	*/
	background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath clip-rule='evenodd' d='m0 0h24v24h-24z'/%3E%3C/clipPath%3E%3Cpath d='m0 0h24v24h-24z' fill='none'/%3E%3Cpath fill='%238ce196' d='m19 2h-4.18c-.42-1.16-1.52-2-2.82-2s-2.4.84-2.82 2h-4.18c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18h-14v-16h2v3h10v-3h2z' fill-rule='nonzero'/%3E%3Cg clip-path='url(%23a)' fill='%238ce196' transform='matrix(-.583333 0 0 -.583333 18.999996 20.999996)'%3E%3Cpath d='m0 0h24v24h-24z' fill='none'/%3E%3Cpath d='m5 4v2h14v-2zm0 10h4v6h6v-6h4l-7-7z' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}